{% extends "palapp/base.html" %}

 {% load static %} <!-- Cargar URL raíz -->

 {% load widget_tweaks %}

{% block content %}

<p style="background-color: green; color: #ffffff; font-weight: bold; font-size: x-large"> Cambio de Contraseña </p>

<style>
    .cuerpo {
        margin-left: 40px;
        margin-right: 40px;
    }

</style>
<div id>
  <div class="cuerpo">

<h1>Cambio de Contraseña</h1>
<form action="" method="post"> {% csrf_token %}
	<center>
		<div>
			<td>Contraseña Actual&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{form.old_password}} <br /></td>
		</div>
		<div>
			<td>Nueva Contraseña&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{form.new_password1}} <br /></td>
		</div>
		<div>
			<td>Confirme nueva Contraseña: {{form.new_password2}} <br /></td>
		</div>
	<button type="submit">Cambiar</button>
	<button type="reset">Limpiar</button>
	</center>
</form>
<br />
<center>
  <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
</center>
 </div>
</div>
{% endblock %}